<!doctype html>
<html lang="ukr">
<%- include('head.ejs') %>
<body>
    <div class = "helpdiv">
        <section>
            <div class = "item">
                <%- include('formPages/fillingForm.ejs') %>
                <%- include('formPages/urgent.ejs') %>
            </div>
        </section>
    </div>
    <%- include('formPages/formButtons.ejs') %>
    <%- include('confirmation.ejs') %>
    <%- include('scripts.ejs') %>
</body>
</html>