<!doctype html>
<html lang="en">
<%- include('head.ejs') %>
<body>
    <%- include('profilePage/profileHeader.ejs') %>
    <%- include('profilePage/profileCard.ejs') %>
    <%- include('profilePage/merged&notList.ejs') %>
    <%- include('controlPanel.ejs') %>
    <%- include('confirmation.ejs') %>
    <%- include('scripts.ejs') %>
</body>
</html>