<!doctype html>
<html lang="ukr">
<%- include('head.ejs') %>
<body>
    <div class="helpdiv">
        <section>
            <div class="item">
                <%- include('formPages/fillingForm.ejs') %>
            </div>
        </section>
    </div>
    <%- include('formPages/formButtons.ejs') %>
    <%- include('formPages/confirmation.ejs') %>
    <%- include('scripts.ejs') %>
    </body>
</html>