<div class = "container">
    <section>
        <div class = "item">
            <div class = "items">
                <%- include('applicationWaiting.ejs') %>
            </div>
            <div class = "items">
                <%- include('applicationWaiting.ejs') %>
            </div>
            <div class = "items">
                <%- include('applicationWaiting.ejs') %>
            </div>
        </div>
    </section>
    <section>
        <div class = "item">
            <div class = "items">
                <%- include('applicationInProgress.ejs') %>
            </div>
            <div class = "items">
                <%- include('applicationInProgress.ejs') %>
            </div>
            <div class = "items">
                <%- include('applicationInProgress.ejs') %>
            </div>
        </div>
    </section>
</div>